.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.1em 20em;
    background-color: var(--preto);
    
}

.rodape h2 {
    color: var(--branco);
    font-weight: 400;
    font-size: 18px;
}